/* Add your SCSS styles here */
.ion-padding {
    padding: 16px;
  }
  
  .ion-padding-top {
    padding-top: 16px;
  }
  
  ion-card {
    margin: 16px;
  }
  
  ion-card-title {
    font-size: 1.2em;
    font-weight: bold;
  }
  
  ion-item-divider {
    background-color: #f4f4f4;
    font-weight: bold;
  }
  
  ion-button {
    margin-top: 8px;
  }
  